# User-specific files
.vs/
.idea/
GameDevProject/*.suo
GameDevProject/*.user
GameDevProject/*.userosscache
GameDevProject/*.sln.docstates

# Build results
GameDevProject/[Dd]ebug/
GameDevProject/[Dd]ebugPublic/
GameDevProject/[Dd]ist/
GameDevProject/[Dd]ebugx86/
GameDevProject/[Dd]ebugx64/
GameDevProject/[Dd]ebugAnyCPU/
GameDevProject/[Dd]istx86/
GameDevProject/[Dd]istx64/
GameDevProject/[Dd]istAnyCPU/
GameDevProject/bin/
GameDevProject/*.obj/
GameDevProject/obj/

# Package files
GameDevProject/*.nupkg

# User-specific VS configuration files
.vsconfig

# ASP.NET temporary files
.vs/
.vscode/
.idea/
